/* Add CSS Styling */
.odd {
    background-color: rgb(220, 162, 171);
    font-family: Verdana, sans-serif;
}

#two {
    color: rgb(80, 80, 212);
    font-size: 36px;
}

#three {
    font-size: 24px;
}

#four {
    background-color: rgb(84, 157, 84);
    font-size: 24px;
    font-weight: bold;
}
