body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  margin: 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.content {
  display: flex;
  flex: 1;
}

.header {
  display: flex;
  height: 72px;
  background: darkmagenta;
  color: white;
  align-items: center;
  font-size: 20px;
  font-weight:900;
  padding-left: 20px;
}

.sidebar a {
  text-decoration: none;
  color: white;
}

.sidebar ul {
  display: flex;
  flex-direction: column;
  list-style-type: none;
  padding: 10px;
  margin: 0;
  gap: 10px;
}


.footer {
  height: 72px;
  background: #eee;
  color: darkmagenta;
  display: flex;
  justify-content: center;
  align-items: center;
}

.sidebar {
  width: 300px;
  background: royalblue;
  box-sizing: border-box;
  flex-shrink:0;
  font-size: 15px;
}

.card {
  border: 1px solid #eee;
  box-shadow: 2px 4px 16px rgba(0,0,0,.06);
  border-radius: 4px;
  flex-basis: 280px;
  height: 250px;
  flex-shrink: 0;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  padding: 30px;
}
