/* Add CSS Styling */
.button {
    font-size: 28px;
    font-family: Helvetica, sans-serif;
}

.button.click {
    background-color: black;
    color: white;
}

.button.noclick {
    background-color: yellow;
}
